{% extends 'base.html' %}

{% block content %}
<h5>Name: </h5>
<b>{{ name }}</b>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Article Number</th>
        <th>Flavour</th>
        <th>Tan</th>
 
    </tr>
        
    {% for item in list_item %}
        <tr>
            <th>{{ item.item_name }}</th>
            <th>{{ item.item_price }}</th>
            <th>{{ item.item_articleNumber }}</th>
            <th>{{ item.item_flavour }}</th>
            <th>{{ item.item_tan }}</th>
        </tr>
    {% endfor %}
</table>

{% endblock content %}